mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin source(path, className)
  source(srcset=require(`images/${path}`) class=className)

  
//- Default +nav("nav", [{"Главная", "start"}, {"Обо мне", "about"}, {"Навыки", "skills"}, {"Работы","works"}, {"Отзывы", "reviews"}, {"Связаться", "feedback"}])
mixin nav(className, items, mod)
  nav(class=`${className} ${className}${mod}`)
    ul(class=`${className}__list`)
      each item, index in items
        li(class=`${className}__item`)
          a(class=`${className}__link ${className}__link${mod}` href=`${index}`)= item

mixin socials(items, mod)
  .socials
    ul.socials__list 
      each item in items
        li.socials__item
          a.socials__link(href='#' class=`socials__link--${mod}`)
            +icon(item, "socials__svg")

mixin diagram(percent, text)
  - var rest = 100 - percent;
  .diagram
    .diagram__text #{text}
    svg.diagram__svg(viewbox="0 0 42 42")
      circle.diagram__hole(cx="21" cy="21" r="15.91549430918954")
      circle.diagram__ring(cx="21" cy="21" r="15.91549430918954")
      circle.diagram__segment(cx="21" cy="21" r="15.91549430918954" stroke-dasharray=`${percent} ${rest}`)

mixin scrolldown(idname)
    a.scrolldown(id=`${idname}`) Скролл
        +icon("scroll", "scrolldown__svg")


mixin title(mod)
    .title(class=`${mod}`)
        h2.title__h2 Личный сайт веб разработчика
        h1.title__h1 Станислав 	&nbsp;Савиных